.col-md-4 {
  /*height: 25em;*/
  background-clip: content-box;/*Pour que le background ignore le padding*/

  background-color: AliceBlue;
}

.mariage-categorie {
  width: 10%;
  min-width: 70px;
  float: left;
}

.row-pack {
  display: flex;
}

.col-md-4 > a {
  position: absolute;
  bottom: -50px;
}

.mariage-contenu {
  width: 90%;
  float: right;
  border-left: 2px solid black;
  padding: 10px;
}

.row {
  margin: inherit;
}

.mariage-form > .row {
  border-left: 2px solid black;
}

#mariage {
  border-bottom: 2px solid black;
}

.mariage-contenu > p, .mariage-categorie > p {
  font-weight: bold;
}

#mariage-enregistrer {
  float: right;
}

/*
.mariage-budget {
    border-left: 1px solid black;
}*/
