th:first-child{
  border-top-left-radius: 5px;
}

th:last-child{
  border-top-right-radius: 5px;
}

td:first-child{
  border-bottom-left-radius: 5px;
}

td:last-child{
  border-bottom-right-radius: 5px;
}

.checkbox{
  text-align: center;
}

#list_de_trucs{
  margin: 0px;
}
