th:first-child{
  border-top-left-radius: 5px;
}

th:last-child{
  border-top-right-radius: 5px;
}

td:first-child{
  border-bottom-left-radius: 5px;
}

td:last-child{
  border-bottom-right-radius: 5px;
}

.checkbox{
  text-align: center;
}

button.btn.btn-primary.btn-info{
  background-color: #de8612;
  border-color: #de8612;
}

button.btn-default.btn{
  background-color: #1e9407;
  border-color: #1e9407;
}

#list_de_trucs{
  margin: 0px;
}
