
{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Création d'un service
{% endblock %}

{% block body %}
    <h1>Créer votre service</h1>

    {{ form(form) }}

{% endblock %}