
{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Modification d'un service
{% endblock %}

{% block body %}
  <h1>Modifier votre service</h1>
  
  {{ form(form) }}

{% endblock %}