
{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block body %}
  <h1>Organiser votre mariage</h1>

  <p>
    Lorem ipsum
  </p>

  <p>
    Exemple
  </p>

  <a href="{{ path('iut_nuptias_accueil') }}">De plus des packs ... </a>

{% endblock %}
