
{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/theme_index.css')}}" />
{% endblock %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block body %}
  <h1><img src="{{asset('public/images/Logo.png')}}" alt="Logo" width="100" height="100">Organisez votre fête de mariage</h1>
  <h4>Gérez vos invités, votre budget et vos prestataires en quelques clics</h4>

{% endblock %}
