
{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block body %}
  <h1>Organiser votre mariage, gérer votre budget et vos invités</h1>

  <p>
    Pour vous faciliter la vie, nous vous proposerons un site qui vous permettra
    de facilement organiser votre mariage.
    En vous inscrivant vous pourrez gratuitement :
      <ul><li>Gérer efficacement votre carnet d'adresse pour la fête de votre mariage,
      envoyer en un clic une invitation à vos invités et recevez instantanément leurs réponses.</li>
          <li>Gérer votre budget ...</li>
          <li>Trouver rapidement : <ul><li> une salle</li>
                                       <li> un traiteur</li>
                                       <li> un DJ </li></ul>

      </ul>
  </p>

  <a href="{{ path('iut_nuptias_accueil') }}">De plus des packs ... </a>

{% endblock %}
