{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Invitation Envoyées
{% endblock %}

{% block body %}

<div class="row">
 <p> Toutes vos invitations ont été envoyé </p>
</div>

{% endblock %}

{# {% block javascripts %}
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
{% endblock %}
#}
