{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Invitation Envoyées
{% endblock %}

{% block body %}

<div class="row">
 <h1> {{ message }}</h1>

 <p> <a href="{{ path('iut_nuptias_accueil') }}" class="btn btn-lg btn-primary">Retour à l'accueil</a> </p>
</div>

{% endblock %}

{# {% block javascripts %}
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
{% endblock %}
#}
